/*
# -------------------------------------------------------------------------------------------------
#
# Name: main.css
# Version: 0.0.1
#
# Summary: 
#         
#
# Author: Alexsander Lopes Camargos
# Author-email: alcamargos@vivaldi.net
#
# License: MIT
#
# -------------------------------------------------------------------------------------------------
*/


@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ubuntu:wght@500;700&display=swap');


:root {
    /* ---- COLOR PALETTE ---- */
    --milky-way: #f8f8fb;
    --tangerine: #ff6a3d;
    --tangerine-dark: #d45028;
    --midnight: #1a2238;
    --twilight: #29375b;
    --twilight-transparency: rgba(41, 55, 91, 0.55);
    --daffodil: #f9db6d;
    --lavender: #9daaf2;
    --lavender-transparency: rgba(156, 169, 242, 0.33);
    --iris: #3b4ca8;
    --border-gray: #e8ecef;
    --border-gray-dark: #797e89;

    --title-font: 'Ubuntu', sans-serif;
    --body-font: 'Oxygen', sans-serif;

    --site-width: 980px;
    --min-viewport-size: 320;
    --max-viewport-size: 1920;
    --menu-total-borders-x: 0px;
    --menu-total-borders-y: 0px;

    --transition-duration: 700ms;
    --transition: all var(--transition-duration) ease;

    --instagram-gb: url('../img/social_media/instagram.svg');
    --twitter-bg: url('../img/social_media/twitter.svg');
    --youtube-bg: url('../img/social_media/youtube.svg');
    --facebook-bg: url('../img/social_media/facebook.svg');
}

body {
    font-family: var(--body-font);
    background-color: var(--milky-way);
}



a {
    color: var(--tangerine);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--tangerine-dark)
}


.delivery__status_not-available {
    color: var(--daffodil)
}

.delivery__status-available {
    color: var(--iris)
}

.product-estimated__delivery {
    color: var(--iris)
}



.button-default {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--tangerine);
    background-color: var(--midnight);
    border-color: var(--border-gray);
    width: 100%;
}

.button-default:hover {
    color: var(--tangerine-dark);
}


.page-header {
    background-color: var(--midnight);
}

.navigation-bar__itens {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 5px 80px;
    margin: 0;
}


.navigation-bar__itens a {
    padding: 0 10px;
    text-decoration: none;
    font-family: var(--title-font);
    color: var(--iris);
    transition: var(--transition);
}

.navigation-bar__itens a:hover {
    color: var(--tangerine-dark);
}


.abount {
    color: var(--twilight);
    padding: 40px 80px;
}

.title {
    position: absolute;
    width: 100%;
    top: 0;
}

.title-caption {
    position: absolute;
    bottom: 0;
    background-color: var(--twilight-transparency);
    padding: 0 80px;
}

.title-caption p {
    color: var(--milky-way);
}

.h2-title {
    text-transform: uppercase;
    color: var(--milky-way);
    text-align: center;
    padding: 20px;
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow: 3px 1px 1px var(--twilight-transparency);
}

.hero {
    width: 100vw;
    height: 100vh;
}

.hero_background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.pictures__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}


.logo-img {
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}

.scroll-indicator {
    position: relative;
    width: 48px;
    align-self: flex-end;
}


.social-media__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
    padding-top: 35vh;
}

.social-media__itens {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    z-index: 10;
}

.social-media__instagram {
    background-image: var(--facebook-bg);
}

.social-media__twitter {
    background-image: var(--twitter-bg);
}

.social-media__youtube {
    background-image: var(--youtube-bg);
}

.social-media__facebook {
    background-image: var(--facebook-bg);
}

.social-media__instagram:hover,
.social-media__instagram:focus,
.social-media__twitter:hover,
.social-media__twitter:focus,
.social-media__youtube:hover,
.social-media__youtube:focus,
.social-media__facebook:hover,
.social-media__facebook:focus {
    filter: invert(59%) sepia(63%) saturate(6619%) hue-rotate(348deg) brightness(88%) contrast(87%);
}


.product-list {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.product-wrapper {
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    margin: 10px;
    transition: var(--transition);
}

.product-wrapper:hover {
    background-color: var(--lavender-transparency);
    border-color: var(--border-gray-dark);
}

.product-caption,
.product-title,
.product-price__wrapper,
.product-delivery__status,
.h5-product-delivery__status,
.product-estimated__delivery {
    margin: 0;
    padding: 5px 0;
}


.product-image__wrapper {
    width: 100%;
    height: 100%;
}


.product-image__box img {
    max-height: 344px;
    width: 300px;
}

.product-cell {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 80px 40px;
}


/* Create the parallax scrolling effect */

.downhill-sennes,
.enduro-and-ebike {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.downhill-sennes-bg {
    background-image: url('../img/downhill-sennes-bg.jpg');
}

.enduro-and-ebike-bg {
    background-image: url('../img/enduro-and-ebike.jpg');
}


footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--midnight);
    width: 100%;
    padding: 20px 0;
    color: var(--milky-way)
}

.footnote-vat {
    color: var(--lavender);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-gray);
}

footer p {
    margin: 0;
    padding: 0 80px;
}



/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}