/*
# -------------------------------------------------------------------------------------------------
#
# Name: main.css
# Version: 1.0.0
#
# Summary: JavaScript Simples Slideshow
#
# Author: Alexsander Lopes Camargos
# Author-email: alcamargos@vivaldi.net
#
# License: MIT
#
# -------------------------------------------------------------------------------------------------
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&family=Ubuntu:wght@300;500&display=swap');


:root {

    --breakpoint-s: 576px;
    --breakpoint-m: 768px;
    --breakpoint-l: 992px;
    --breakpoint-xl: 1200px;

    --blackish: #202020;
    --dark-grey: #3f3f3f;
    --medium-grey: #707070;
    --egg-yellow: #ffdf6c;
    --white: #ffffff;

    --font-title: 'Ubuntu', sans-serif;
    --font-text: 'Roboto', sans-serif;
}


body {
    background-color: var(--white);
    font-family: (var(--font-text)) color: var(--dark-grey)
}


.button {
    background: var(--dark-grey);
    border: 2px solid var(--medium-grey);
    color: var(--egg-yellow);
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: 28px;
    line-height: 52px;
    transition: 300ms;
}

.button:hover {
    background: var(--egg-yellow);
    color: var(--dark-grey);
    cursor: pointer;
    transition: 500ms;
}


#wrapper {
    height: 100vh;
}

#page-title {
    display: flex;
    align-items: center;
    padding-left: 100px;
    background-color: var(--blackish);
    color: var(--egg-yellow);
}

#page-title h1 {
    font-family: var(--font-title);
    font-size: 48px;
    line-height: 72px;
}


main {
    margin: auto;
    margin: 0 100px 0 100px;
    color: var(--dark-grey)
}

main h2 {
    font-family: var(--font-title);
    font-size: 38px;
    line-height: 62px;
}

main h2::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    border-bottom: 2px solid var(--egg-yellow);
    width: 100%;
}

main h3 {
    font-family: var(--font-title);
    font-size: 28px;
    line-height: 52px;
}

main h3::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    border-bottom: 2px solid var(--egg-yellow);
    width: 100%;
}

main p {
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}


.button-content {
    display: flex;
    gap: 50px;
}

.header {
    margin: auto;

}

.header h1 {
    font-size: 28px;
    color: var(--egg-yellow);
}

.header h2 {
    font-size: 24px;
    color: var(--blackish);

}

.div-section-content {
    display: grid;
}

.reasons {
    align-items: center;
    justify-content: center;
}

.slides::before {
    content: '<';
    position: absolute;
}

.slides::after {
    content: '>';
    position: absolute;
}

.slide li {
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}


footer {
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding-left: 100px;
    background-color: var(--blackish);
    color: var(--egg-yellow);
    justify-content: center;
}

footer p {
    font-family: var(--font-title);
    font-size: 28px;
    line-height: 52px;
}

footer a {
    color: var(--egg-yellow);
}