/*
# -------------------------------------------------------------------------------------------------
#
# Name: main.css
# Version: 1.0.0
#
# Summary: Pure CSS Text Typing Animation
#          Just another pure CSS implementation of the text typing animation
#          using pseudo elements and CSS3 animations.
#
# Author: Alexsander Lopes Camargos
# Author-email: alcamargos@vivaldi.net
#
# License: MIT
#
# -------------------------------------------------------------------------------------------------
*/


@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


/* *************** BASE STYLES *************** */
:root {
    --primary-text-color: #f0f0f0;
    --secondary-text-color: #00BFFF;
    --primary-background-color: #111;
    --secondary-background-color: #222;
    --primary-font-family: 'Share Tech Mono', monospace;
    --font-size: 80px;
}


/* *************** Minimal CSS Reset *************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font-family);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--primary-text-color);
}


/* Styling for this page is organized from top to bottom of what is shown on the page. */


/* *************** WRAPPER STYLES *************** */
#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary-background-color);
    background-blend-mode: color;
    overflow: hidden;
}


/* *************** CONTENT STYLES *************** */
#content {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
}


/* *************** TYPING-TEXT-LIST STYLES *************** */
#typing-text-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    height: var(--font-size);
    line-height: var(--font-size);
    top: 0;
    white-space: nowrap;
    animation: slide-up 25s steps(5) infinite;
    position: relative;
}

/* The slide up effect */
@keyframes slide-up {
    0% {
        top: 0;
    }
    100% {
        top: -410px;
    }
}


#typing-text-list .typing-text {
    color: var(--secondary-text-color);
    position: relative;
    top: 0;
}

#typing-text-list .typing-text span {
    position: relative;
}

#typing-text-list .typing-text span::after {
    content: "";
    position: absolute;
    background-color: var(--primary-background-color);
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 3px solid var(--secondary-text-color);
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 5s steps(21) infinite alternate,
               blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing {
    0% {
        left: 0;
        margin-right: auto;
    }

    40%,
    60% {
        left: calc(100% + 30px);
        margin: 0 -35px 0 35px;
    }

    100% {
        left: 0;
    }
}


/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--secondary-text-color);
    }
}


/* *************** MEDIA QUERIES *************** */
@media only screen and (min-width: 1150px) {
    :root {
        --font-size: 60px;
    }
  }