$read: #f44336;
$read-dark: #d32f2f;
$read-light: #ff6659;
$read-lighter: #ff8a80;
$read-lightest: #ffcccb;

$green: #4caf50;
$green-dark: #388e3c;
$green-light: #66bb6a;
$green-lighter: #8bc34a;
$green-lightest: #c8e6c9;

$blue: #009688;
$blue-dark: #00796b;
$blue-light: #26a69a;
$blue-lighter: #4db6ac;
$blue-lightest: #b2dfdb;

$white: #f2f2f2;

$gap: 1rem;