* {
    margin: 0;
    padding: 0;
}

body {
    background: #383a59;
    ;
    color: #f2f2f2;
    ;
    font-family: "Source Sans Pro";
    font-weight: 300;
    max-width: 80%;
    margin: auto;
    margin-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #8be9fd;
    margin-bottom: .1rem;
    font-family: "Abril Text";
}

h3 {
    color: #bd93f9;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    margin: 10px 10px 5px 10px;
}

h4 {
    color: #bd93f9;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin: 10px 10px 5px 10px;
}

p {
    display: block;
    text-align: justify;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #8be9fd;
    text-decoration: none;
    border-bottom: 2px solid #8be9fd;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

nav {
    padding-top: 2rem;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    margin-left: 20px;
}

figure {
    display: flex;
    float: right;
    width: 30%;
    border: thin silver solid;
    flex-flow: column;
    text-indent: 0;
    margin-left: 1em;
    margin-top: 1em;
}

figcaption {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgb(40, 42, 54);
    display: table-caption;
    font-style: italic;
    font-size: smaller;
    text-align: center;
}

img {
    width: 100%;
}

a:hover {
    border-color: rgba(139, 233, 253, 1);
    color: rgba(139, 233, 253, 1);
}

#title {
    font-size: 3em;
    text-align: center;
    font-family: "Abril Text";
    font-weight: 800;
    height: 1.5em;
}

.subtitle {
    font-size: 2em;
    text-align: left;
    font-family: "Abril Text";
    font-weight: 600;
    height: 1.5em;
}

.back_top {
    font-size: 1em;
    text-align: right;
    margin-bottom: 1em;
    padding-bottom: .5em;
    float: right;
}

.back_top:hover {
    color: rgba(255, 184, 108, 1);
}

.footer-copy p {
    text-align: left;
}