@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&family=Ubuntu:wght@500;700&display=swap');

:root {
    --password-font: 'Source Code Pro', monospace;
    --default-font: 'Ubuntu', sans-serif;
    --background-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--default-font);
}

h1 {
    font-size: 38px;
    color: #333;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
}

.content {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 450px;
}

#yarpg {
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0 20px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    font-family: var(--password-font);
    letter-spacing: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #333;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
        inset 4px 4px 10px rgba(0, 0, 0, 0.05),
        inset -4px -4px 10px rgba(255, 255, 255, 1),
        4px 4px 10px rgba(0, 0, 0, 0.05);
}

.btn-copy {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.btn-copy:hover {
    opacity: 1;
}

.btn-generate {
    position: relative;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    font-size: 32px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    transition: .5s ease;
}

.btn-generate:hover {
    color: #0e0;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3), -3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.alert-box:active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .alert-box {
    display: none;
    position: absolute;
    gap: 60px;
    background-color: #333;
    color: #f8f8f8;
    height: 100vh;
    width: 100vw;
}



#alert-box h1 {
    color: #f8f8f8;
    font-size: 28px;
} */

.config {
    width: 40%;
    min-width: 450px;
    background-color: #1c1e21;
    padding: 80px 30px;
    border-radius: 8px;
    box-shadow: 0 15px 20px rgb(0 0 0 / 15%);
    margin-top: 60px;
    color: rgba(255, 255, 255, 1);
}

.password-config {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.password-length__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.password-length__content input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 85%;
    height: 3.5px;
    background-color: #e2e2e2;
    border-radius: 3.5px;
}

.label-password__length {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}