// Colors
$withe: #fff;
$withe-dark: #d0d0d0;

$gray: #333;
$gray-dark: #2b2b2b;
$gray-darkest: #1d1d1d;
$gray-light: #717171;
$gray-lighter: #b5b5b5;

$red: #e3695f;
$red-dark: #ba584f;
$red-darkest: #6c3631;
$red-light: #ec8378;
$red-lighter: #f8b5ac;

$blue: #4faff3;
$blue-dark: #3f9ae5;
$blue-darkest: #2d6c8c;
$blue-light: #6cb8f3;
$blue-lighter: #a5d1f8;
