@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

:root {
    --color1: #feee02;
    --color2: #242424;
    --color3: #101010;
    --color5: #000000;

    --background-color: #101010;
    --border-color: #707070;

    --text-color: #fff;

    --image1: url("../img/backgrounds/image-1.jpg");
    --image2: url("../img/backgrounds/image-2.jpg");
    --image3: url("../img/backgrounds/image-3.jpg");
}

body {
    background: var(--color2) 0% 0% no-repeat padding-box fixed;
    opacity: 0.55;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid var(--color1);
}

.border-right {
    border-right: 1px solid var(--border-color);
    height: 70%;
    object-position: center;
}

.border-bottom {
    border-bottom: 1px solid var(--border-color);
}

#page-header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px;
}

#page-header .page-title {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#page-header .account {
    text-align: right;
}

.hero-bg {
    position: absolute;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: backgroundSlideShow 60s linear infinite 0s;
}

.hero-bg:nth-child(1) {
    background-image: var(--image1);
}

.hero-bg:nth-child(2) {
    animation-delay: 20s;
    background-image: var(--image2);
}

.hero-bg:nth-child(3) {
    animation-delay: 40s;
    background-image: var(--image3);
}

@keyframes backgroundSlideShow {
    0% {
        animation-timing-function: ease-in;
        opacity: 0.3;
    }

    5% {
        animation-timing-function: ease-out;
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.3;
    }
}

#main-content-wrapper {
    padding: 0 200px;
}

#main-content-wrapper #hero {
    height: 60vh;
    width: 100%;
}

#main-content-wrapper #hero h1 {
    font-weight: 700;
    font-size: 42px;
    padding-top: 70px;
}

#main-content-wrapper #hero .hero-wrapper {
    background: var(--background-color) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 0.9;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
}

#main-content-wrapper #hero .destination-content,
.departing-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.destination,
.arrival,
.passenger,
.departing,
.return,
.search {
    display: flex;
    flex-direction: column;
}

.search {
    margin: auto;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.16px;
}

.text {
    font-weight: 300;
    font-size: 21px;
    line-height: 31.5px;
    letter-spacing: 0.16px;
}

.btn {
    background: #feee02 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.16px;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background: var(--background-color) 0% 0% no-repeat padding-box;
    color: var(--color1);
}

#popular-destinations h1 {
    font-weight: 500;
    font-size: 35px;
}

#popular-destinations .destination h2 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 5px;
}

#popular-destinations .destination h3 {
    text-align: center;
    font-weight: 200;
    font-size: 12px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--border-color);
}

#popular-destinations .destinations-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /*grid-template-rows: repeat(2, 220px);*/
    gap: 20px;
    padding-bottom: 100px;
}

#popular-destinations .destination {
    background: var(--background-color) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 0.9;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
}

#popular-destinations table {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    padding: 5px 20px;
}

#popular-destinations table tr:not(:first-child) {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    padding: auto;
    margin: auto;
}

#popular-destinations table tr:first-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.4;
    text-align: left;
}

#popular-destinations table td:first-child {
    padding-right: 20px;
}

#popular-destinations table td:not(:first-child) {
    text-align: right;
}

footer {
    background: var(--background-color) 0% 0% no-repeat padding-box;
    opacity: 0.9;
    text-align: center;
    height: 40px;
}
