/*
# -------------------------------------------------------------------------------------------------
#
# Name: main.css
# Version: 1.0
#
# Summary: Simples Online Web Editor
#
# Author: Alexsander Lopes Camargos
# Author-email: alcamargos@vivaldi.net
#
# License: MIT
#
# -------------------------------------------------------------------------------------------------
*/


* {
    padding: 0;
    margin: 0;
}


body {
    background-color: #2c3335;
}

h1 {
    color: #fff;
    text-align: center;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


.wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: auto;
    height: auto;
}


#editor {
    background-color: #dae0e2;
    line-height: 1.5;
    width: 95vh;
    height: 85vh;
    outline: none;
    resize: none;
    border: 1px solid #3498db;
}


#viewer {
    background-color: #dae0e2;
    width: 95vh;
    height: 85vh;
    border: 1px solid #3498db;
}


#footer {
    color: #fff;
    text-align: center;
    padding: 5px;
}